--
-- PostgreSQL database dump
--

-- Dumped from database version 14.3 (Debian 14.3-1.pgdg110+1)
-- Dumped by pg_dump version 14.3 (Debian 14.3-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: stock_movement_tipo_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.stock_movement_tipo_enum AS ENUM (
    'entrada',
    'salida'
);


ALTER TYPE public.stock_movement_tipo_enum OWNER TO postgres;

--
-- Name: user_rol_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_rol_enum AS ENUM (
    'Admin',
    'Employee'
);


ALTER TYPE public.user_rol_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.location (
    "locationId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre text NOT NULL,
    direccion text NOT NULL,
    coordenadas text NOT NULL
);


ALTER TABLE public.location OWNER TO postgres;

--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    "productId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying NOT NULL,
    precio_por_kg numeric(10,2) NOT NULL,
    unidad_medida character varying NOT NULL,
    stock_actual numeric(10,2) NOT NULL,
    stock_minimo numeric(10,2) NOT NULL,
    disponible boolean DEFAULT true NOT NULL
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: sale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale (
    "saleId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    cancelada boolean DEFAULT false NOT NULL,
    "employeeUserId" uuid,
    "locationLocationId" uuid
);


ALTER TABLE public.sale OWNER TO postgres;

--
-- Name: sale_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_item (
    "saleItemId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    peso_kg double precision NOT NULL,
    precio_por_kg double precision NOT NULL,
    subtotal double precision NOT NULL,
    "saleSaleId" uuid,
    "productProductId" uuid
);


ALTER TABLE public.sale_item OWNER TO postgres;

--
-- Name: stock_movement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_movement (
    "stockMovementId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tipo public.stock_movement_tipo_enum NOT NULL,
    peso_kg double precision NOT NULL,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    "productoProductId" uuid,
    "locationLocationId" uuid,
    "registradoPorUserId" uuid
);


ALTER TABLE public.stock_movement OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    "userId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre text NOT NULL,
    apellido text NOT NULL,
    telefono text NOT NULL,
    direccion text NOT NULL,
    nombre_usuario text NOT NULL,
    contrasena text NOT NULL,
    rol public.user_rol_enum NOT NULL,
    "locationId" uuid
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Data for Name: location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.location ("locationId", nombre, direccion, coordenadas) FROM stdin;
4f41d9ab-5ba7-423f-a581-67d210899e7e	Sucursal Centro	Av. Principal 123	20.123,-100.456
0a9af1bb-8c9b-439d-9041-5be7266e2137	Sucursal Centro Sur	Av. Principal 123	20.123,-100.456
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product ("productId", nombre, precio_por_kg, unidad_medida, stock_actual, stock_minimo, disponible) FROM stdin;
48e4604f-4123-414d-aee4-695bf62c7ccf	Carne de res	195.50	kg	50.00	10.00	t
7942b5f9-8dff-4236-b055-ddd1df7bf05a	Carne de pollo 	120.50	kg	50.00	10.00	t
a20e1f14-e91c-45cf-8689-4fbd553604d1	pescado 	100.50	kg	50.00	10.00	t
\.


--
-- Data for Name: sale; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale ("saleId", fecha, cancelada, "employeeUserId", "locationLocationId") FROM stdin;
8099531b-d55a-4e9d-9501-ed50b14bd789	2025-04-23 03:03:31.972303	f	f03a0309-6c58-47c5-b5f2-621f8da400d8	4f41d9ab-5ba7-423f-a581-67d210899e7e
\.


--
-- Data for Name: sale_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale_item ("saleItemId", peso_kg, precio_por_kg, subtotal, "saleSaleId", "productProductId") FROM stdin;
019ab230-ce09-4d8f-8388-07833f329480	2.5	195.5	488.75	8099531b-d55a-4e9d-9501-ed50b14bd789	48e4604f-4123-414d-aee4-695bf62c7ccf
2f45dcde-22a0-43f2-9c70-1e1b1862fe63	1	110	110	8099531b-d55a-4e9d-9501-ed50b14bd789	48e4604f-4123-414d-aee4-695bf62c7ccf
\.


--
-- Data for Name: stock_movement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_movement ("stockMovementId", tipo, peso_kg, fecha, "productoProductId", "locationLocationId", "registradoPorUserId") FROM stdin;
fbd990d3-0960-4fa2-8e5b-02fba46274fc	entrada	42.5	2025-05-18 22:55:54.106514	48e4604f-4123-414d-aee4-695bf62c7ccf	4f41d9ab-5ba7-423f-a581-67d210899e7e	4245fb29-722e-414f-be67-2dc95a6d7b18
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: product PK_429540a50a9f1fbf87efd047f35; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "PK_429540a50a9f1fbf87efd047f35" PRIMARY KEY ("productId");


--
-- Name: sale PK_61e9fc39f22df5682850ea649f2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT "PK_61e9fc39f22df5682850ea649f2" PRIMARY KEY ("saleId");


--
-- Name: location PK_8b51e14a3447c3df460c1907acb; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT "PK_8b51e14a3447c3df460c1907acb" PRIMARY KEY ("locationId");


--
-- Name: stock_movement PK_b12701f997c6d528a4b7c408722; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "PK_b12701f997c6d528a4b7c408722" PRIMARY KEY ("stockMovementId");


--
-- Name: user PK_d72ea127f30e21753c9e229891e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_d72ea127f30e21753c9e229891e" PRIMARY KEY ("userId");


--
-- Name: sale_item PK_e88f7ff995aa9dc15cdc9483fd4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT "PK_e88f7ff995aa9dc15cdc9483fd4" PRIMARY KEY ("saleItemId");


--
-- Name: user UQ_ea610421ec4f33d50f156135253; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_ea610421ec4f33d50f156135253" UNIQUE (nombre_usuario);


--
-- Name: sale FK_5dd1edf5c34142142299b6b7666; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT "FK_5dd1edf5c34142142299b6b7666" FOREIGN KEY ("locationLocationId") REFERENCES public.location("locationId");


--
-- Name: user FK_93e37a8413a5745a9b52bc3c0c1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "FK_93e37a8413a5745a9b52bc3c0c1" FOREIGN KEY ("locationId") REFERENCES public.location("locationId");


--
-- Name: stock_movement FK_ad7fa0b05bb2fe9f3b21bb986cf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "FK_ad7fa0b05bb2fe9f3b21bb986cf" FOREIGN KEY ("productoProductId") REFERENCES public.product("productId");


--
-- Name: stock_movement FK_b62138340773e7b26d21b1b6a75; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "FK_b62138340773e7b26d21b1b6a75" FOREIGN KEY ("registradoPorUserId") REFERENCES public."user"("userId");


--
-- Name: sale_item FK_b685566bba837585181696c1860; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT "FK_b685566bba837585181696c1860" FOREIGN KEY ("saleSaleId") REFERENCES public.sale("saleId") ON DELETE CASCADE;


--
-- Name: sale FK_ce348c0601c17c4e209ad8606f8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT "FK_ce348c0601c17c4e209ad8606f8" FOREIGN KEY ("employeeUserId") REFERENCES public."user"("userId");


--
-- Name: stock_movement FK_e2070695d3f55f304fe77ef3b61; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "FK_e2070695d3f55f304fe77ef3b61" FOREIGN KEY ("locationLocationId") REFERENCES public.location("locationId");


--
-- Name: sale_item FK_f5dff6189019a591aa857c3f47b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT "FK_f5dff6189019a591aa857c3f47b" FOREIGN KEY ("productProductId") REFERENCES public.product("productId");


--
-- PostgreSQL database dump complete
--

