SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;
SET default_tablespace = '';
SET default_table_access_method = heap;
COPY public.location ("locationId", nombre, direccion, coordenadas) FROM stdin;
\.
COPY public.product ("productId", nombre, precio_por_kg, unidad_medida, stock_actual, stock_minimo, disponible) FROM stdin;
\.
COPY public.sale ("saleId", fecha, cancelada, "employeeUserId", "locationLocationId") FROM stdin;
\.
COPY public.sale_item ("saleItemId", peso_kg, precio_por_kg, subtotal, "saleSaleId", "productProductId") FROM stdin;
\.
COPY public.stock_movement ("stockMovementId", tipo, peso_kg, fecha, "productoProductId", "locationLocationId", "registradoPorUserId") FROM stdin;
\.
COPY public."user" ("userId", nombre, apellido, telefono, direccion, nombre_usuario, contrasena, rol, "locationId") FROM stdin;
\.
