--
-- PostgreSQL database dump
--

-- Dumped from database version 14.3 (Debian 14.3-1.pgdg110+1)
-- Dumped by pg_dump version 14.3 (Debian 14.3-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: stock_movement_tipo_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.stock_movement_tipo_enum AS ENUM (
    'entrada',
    'salida'
);


ALTER TYPE public.stock_movement_tipo_enum OWNER TO postgres;

--
-- Name: user_rol_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_rol_enum AS ENUM (
    'Admin',
    'Employee'
);


ALTER TYPE public.user_rol_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.location (
    "locationId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre text NOT NULL,
    direccion text NOT NULL,
    coordenadas text NOT NULL
);


ALTER TABLE public.location OWNER TO postgres;

--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    "productId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying NOT NULL,
    precio_por_kg numeric(10,2) NOT NULL,
    unidad_medida character varying NOT NULL,
    stock_actual numeric(10,2) NOT NULL,
    stock_minimo numeric(10,2) NOT NULL,
    disponible boolean DEFAULT true NOT NULL,
    "locationId" uuid NOT NULL,
    "providerId" uuid
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: provider; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.provider (
    "providerId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre text NOT NULL,
    contacto text NOT NULL,
    direccion text,
    telefono text
);


ALTER TABLE public.provider OWNER TO postgres;

--
-- Name: sale; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale (
    "saleId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    cancelada boolean DEFAULT false NOT NULL,
    "employeeUserId" uuid,
    "locationLocationId" uuid
);


ALTER TABLE public.sale OWNER TO postgres;

--
-- Name: sale_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sale_item (
    "saleItemId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    peso_kg double precision NOT NULL,
    precio_por_kg double precision NOT NULL,
    subtotal double precision NOT NULL,
    "saleSaleId" uuid,
    "productProductId" uuid
);


ALTER TABLE public.sale_item OWNER TO postgres;

--
-- Name: stock_movement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_movement (
    "stockMovementId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    tipo public.stock_movement_tipo_enum NOT NULL,
    peso_kg double precision NOT NULL,
    fecha timestamp without time zone DEFAULT now() NOT NULL,
    "productoProductId" uuid,
    "locationLocationId" uuid,
    "registradoPorUserId" uuid,
    "proveedorProviderId" uuid
);


ALTER TABLE public.stock_movement OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    "userId" uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre text NOT NULL,
    apellido text NOT NULL,
    telefono text NOT NULL,
    direccion text NOT NULL,
    nombre_usuario text NOT NULL,
    contrasena text NOT NULL,
    rol public.user_rol_enum NOT NULL,
    "locationId" uuid
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Data for Name: location; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.location ("locationId", nombre, direccion, coordenadas) FROM stdin;
e12975a6-8107-457e-b791-04e51715403c	Sur	Avenida sur 	10,20
f421829b-e426-4038-a381-71b29f1ac354	Sucursal Centro	Av. Principal 123	20.123,-100.456
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: provider; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.provider ("providerId", nombre, contacto, direccion, telefono) FROM stdin;
6fd911f4-78d6-48d8-aa1d-850b43b42150	Frigor├¡fico Don to├▒o	Juan P├®rez - 1155555555	Av. Siempre Viva 742	4426131618
\.


--
-- Data for Name: sale; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale ("saleId", fecha, cancelada, "employeeUserId", "locationLocationId") FROM stdin;
c3fca333-5874-446b-b2d1-8e5e37abdc5e	2025-05-29 04:02:47.293015	f	673fc3cb-dc3f-465e-a877-a15da4b6a9fa	e12975a6-8107-457e-b791-04e51715403c
\.


--
-- Data for Name: sale_item; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sale_item ("saleItemId", peso_kg, precio_por_kg, subtotal, "saleSaleId", "productProductId") FROM stdin;
b5a75c2a-1a5c-4836-8831-c3c31d979074	2.5	90	225	c3fca333-5874-446b-b2d1-8e5e37abdc5e	7bf2371b-8a2a-4ac9-80b9-37dbaa35a3ec
\.


--
-- Data for Name: stock_movement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_movement ("stockMovementId", tipo, peso_kg, fecha, "productoProductId", "locationLocationId", "registradoPorUserId", "proveedorProviderId") FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: product PK_429540a50a9f1fbf87efd047f35; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "PK_429540a50a9f1fbf87efd047f35" PRIMARY KEY ("productId");


--
-- Name: sale PK_61e9fc39f22df5682850ea649f2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT "PK_61e9fc39f22df5682850ea649f2" PRIMARY KEY ("saleId");


--
-- Name: location PK_8b51e14a3447c3df460c1907acb; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT "PK_8b51e14a3447c3df460c1907acb" PRIMARY KEY ("locationId");


--
-- Name: stock_movement PK_b12701f997c6d528a4b7c408722; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "PK_b12701f997c6d528a4b7c408722" PRIMARY KEY ("stockMovementId");


--
-- Name: provider PK_c0e2db5ac09483b145b092757b1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.provider
    ADD CONSTRAINT "PK_c0e2db5ac09483b145b092757b1" PRIMARY KEY ("providerId");


--
-- Name: user PK_d72ea127f30e21753c9e229891e; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "PK_d72ea127f30e21753c9e229891e" PRIMARY KEY ("userId");


--
-- Name: sale_item PK_e88f7ff995aa9dc15cdc9483fd4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT "PK_e88f7ff995aa9dc15cdc9483fd4" PRIMARY KEY ("saleItemId");


--
-- Name: user UQ_ea610421ec4f33d50f156135253; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "UQ_ea610421ec4f33d50f156135253" UNIQUE (nombre_usuario);


--
-- Name: product FK_1b6f9b0106c69651a2514278f85; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "FK_1b6f9b0106c69651a2514278f85" FOREIGN KEY ("locationId") REFERENCES public.location("locationId");


--
-- Name: sale FK_5dd1edf5c34142142299b6b7666; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT "FK_5dd1edf5c34142142299b6b7666" FOREIGN KEY ("locationLocationId") REFERENCES public.location("locationId");


--
-- Name: user FK_93e37a8413a5745a9b52bc3c0c1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "FK_93e37a8413a5745a9b52bc3c0c1" FOREIGN KEY ("locationId") REFERENCES public.location("locationId");


--
-- Name: stock_movement FK_ad7fa0b05bb2fe9f3b21bb986cf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "FK_ad7fa0b05bb2fe9f3b21bb986cf" FOREIGN KEY ("productoProductId") REFERENCES public.product("productId");


--
-- Name: stock_movement FK_b62138340773e7b26d21b1b6a75; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "FK_b62138340773e7b26d21b1b6a75" FOREIGN KEY ("registradoPorUserId") REFERENCES public."user"("userId");


--
-- Name: sale_item FK_b685566bba837585181696c1860; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT "FK_b685566bba837585181696c1860" FOREIGN KEY ("saleSaleId") REFERENCES public.sale("saleId") ON DELETE CASCADE;


--
-- Name: sale FK_ce348c0601c17c4e209ad8606f8; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT "FK_ce348c0601c17c4e209ad8606f8" FOREIGN KEY ("employeeUserId") REFERENCES public."user"("userId");


--
-- Name: stock_movement FK_d4cc15fab0b5ed7ac096ab14a41; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "FK_d4cc15fab0b5ed7ac096ab14a41" FOREIGN KEY ("proveedorProviderId") REFERENCES public.provider("providerId");


--
-- Name: stock_movement FK_e2070695d3f55f304fe77ef3b61; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_movement
    ADD CONSTRAINT "FK_e2070695d3f55f304fe77ef3b61" FOREIGN KEY ("locationLocationId") REFERENCES public.location("locationId");


--
-- Name: sale_item FK_f5dff6189019a591aa857c3f47b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT "FK_f5dff6189019a591aa857c3f47b" FOREIGN KEY ("productProductId") REFERENCES public.product("productId");


--
-- Name: product FK_f70b268affe05f6e9df0dab57b0; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "FK_f70b268affe05f6e9df0dab57b0" FOREIGN KEY ("providerId") REFERENCES public.provider("providerId");


--
-- PostgreSQL database dump complete
--

